.layout {
  @include e(navigation) {
    position: fixed;
    width: 150px;
    height: 100%;
    background: $color-key;
    top: 0;
    left: -100px;
    z-index: 10;
    transition: all 500ms;
    &:hover {
      &:before {
        transform: scaleX(1);
      }
    }
    &.is-active {
      left: 0;
    }
    @include e(hamb) {
      display: none;
    }
    @include m(wrapper) {
      position: absolute;
      top: 50%;
      left: 0;
      transform: translateY(-50%);
      width: 100%;
      z-index: 15;
      ul.menu {
        position: relative;
        z-index: auto;
        li {
          a {
            position: relative;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            font-size: 16px;
            line-height: 28px;
            padding: 0 50px 0 10px;
            height: 70px;
            color: $color-base-white;
            text-decoration: none;
            &:before {
              content: '';
              position: absolute;
              width: 10px;
              height: 10px;
              background: $color-base-white;
              border-radius: 50%;
              top: 50%;
              right: 19px;
              transform: translateY(-50%);
            }
          }
        }
      }
      ul.sns {
        margin: 50px 0 0;
        li {
          height: 70px;
          a {
            position: relative;
            display: block;
            color: $color-base-white;
            img {
              position: absolute;
              display: block;
              width: 20px;
              top: 50%;
              right: 14px;
              transform: translateY(-50%);
            }
          }
        }
      }
    }
  }
}

@include max-screen($breakpoint-sm){
  .layout {
    @include e(navigation) {
      z-index: 0;
      @include m(wrapper) {
        z-index: -1;
      }
      @include e(hamb) {
        display: block;
        position: fixed;
        z-index: 100;
        left: 9px;
        top: 16px;
        &:after {
          color: $color-base-white;
          font-family: "FontAwesome";
          font-size: 38px;
          content: '\f0c9';
        }
      }
    }
  }
}
