.layout {
  @include e(navigation) {
    position: fixed;
    width: 150px;
    height: 100%;
    background: $color-key;
    top: 0;
    left: 0;
    z-index: 0;
    &:hover {
      &:before {
        transform: scaleX(1);
      }
      //.layout__navigation--wrapper {
      //  ul.menu {
      //    li {
      //      a {
      //        font-size: 18px;
      //        line-height: 28px;
      //      }
      //    }
      //  }
      //}
    }
    @include m(wrapper) {
      position: absolute;
      top: 50%;
      left: 0;
      transform: translateY(-50%);
      width: 100%;
      z-index: 15;
      ul.menu {
        position: relative;
        z-index: auto;
        li {
          a {
            position: relative;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            font-size: 18px;
            line-height: 28px;
            padding: 0 0 0 50px;
            height: 70px;
            color: $color-base-white;
            text-decoration: none;
            &:before {
              content: '';
              position: absolute;
              width: 10px;
              height: 10px;
              background: $color-base-white;
              border-radius: 50%;
              top: 50%;
              left: 16px;
              transform: translateY(-50%);
            }
          }
        }
      }
      ul.sns {
        margin: 50px 0 0;
        li {
          height: 70px;
          a {
            position: relative;
            display: block;
            color: $color-base-white;
            img {
              position: absolute;
              display: block;
              width: 20px;
              top: 50%;
              left: 14.5px;
              transform: translateY(-50%);
            }
          }
        }
      }
    }
  }
}

@include max-screen($breakpoint-sm){
  .layout {
    @include e(navigation) {
      z-index: -1;
      &:before {
        position: absolute;
        left: 12px;
        top: 12px;
        font-family: "Font-Awesome";
        content: '\f0c9';
        z-index: 10;
      }
    }
  }
}
